# Faster hash function
startup         --digest_function=blake3
common          --enable_workspace=false

# Self explanatory
common          --enable_platform_specific_config

# Ensure host tools are built optimized
build           --host_compilation_mode=opt

# Enable C++17
build           --cxxopt='-std=c++17'
build           --host_cxxopt='-std=c++17'
build           --enable_runfiles

# You can configure `/tmp/zig-cache`, or similar, specifically,
# if you can ensure that the directory exists before the build.
build:linux     --sandbox_add_mount_pair=/tmp
build:macos     --sandbox_add_mount_pair=/var/tmp
build:windows   --sandbox_add_mount_pair=C:\Temp